# TIPE DATA

### Tipe Data Interger

In [2]:
print(123123123123123123123 + 1)

123123123123123123124

In [3]:
print(10)
print(type(10))

10
<class 'int'>

#### Floating-Point Numbers

In [4]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [6]:
print(4.)
print(.2)
print(4e7)
print(4.2e-4)

4.0
0.2
40000000.0
0.00042

###  Tipe Data Strings

In [7]:
print("Hactiv8")
print(type("Hactiv8"))

Hactiv8
<class 'str'>

In [10]:
print('')
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

### Tipe Data Boolean

In [2]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variabel Assignment

In [3]:
n = 300
print(n)

300

In [4]:
a = b = c = 300
print(a, b, c)

300 300 300

In [6]:
var = 23.5
print(var)
var = "Now I'm a string"
print(var)

23.5
Now I'm a string

### Variable Names

In [7]:
name = "Hackiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hackiv8 54 True

In [9]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

# Operators and Expressions

In [10]:
a = 10
b = 20
a + b

30

In [11]:
a = 10
b = 20
a + b - 5

25

### Arithmetic Operators

In [14]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [18]:
# Hasil standar dari pembagian (/) selalu berbentuk float. Meskipun habis terbagi.
20/4

5.0

### Operator Pembanding

In [19]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

### String Manipulation

In [21]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hactiv8 ' + 'PTP')

foobar
foobarbaz
Hactiv8 PTP

In [23]:
# * Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [25]:
# in Operators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [26]:
# Case Conversion
s = 'HacTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())


# Uppercase
print(s.upper())

Hactiv8
hactiv8
hACtiv8
Hactiv8
HACTIV8

# Python Lists

In [27]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

### Lists Are Ordered

In [28]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'quz', 'bar', 'foo']

a==b

False

### Lists Can Contain Arbitary Objects

In [29]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### Lists Elements Can Be Accessed by Index

In [30]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [31]:
print(a[0])
print(a[5])

foo
corge

In [32]:
print(a[-1])
print(a[-6])

corge
foo

In [33]:
a[2:5]

['baz', 'qux', 'quux']

In [34]:
# The Concatenation (+) and replication (*) operators:
print(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [2]:
# len(), min(), max()
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Modifying a Single List Value

In [3]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

### Modifying Multiple List Values

In [7]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

### Defining and Using Tuples

In [8]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [9]:
print(t[0])
print(t[-1])

foo
corge

In [10]:
# Packing and Unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

# Python Dictionary

### Defining a Dictionary

In [34]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

### Accessing Dictionary Values

In [35]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [25]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [32]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals',
 'Seattle': 'Seahawks'}

In [33]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictironary Incrementally

In [14]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog' : 'Fido', 'cat' : 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [10]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [11]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [15]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [20]:
{'dog': 'Fido', 'cat': 'Sox'}

{'dog': 'Fido', 'cat': 'Sox'}

In [22]:
# Built-in Methods
d = {'a': 10, 'b':20, 'c':30}

# Items
print(d.items())

# Keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

### Line Continuation

In [23]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [25]:
someone_is_of_wokring_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True