# Conditions

### If Statements

In [1]:
x = 0
y = 5

if x < y:
    print('yes')
    
if y < x:
    print('yes')
    
if x:
    print('yes')
    
if y:
    print('yes')
    
if 'aul'in 'grault':
    print('yes')
    
if 'quuz' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

In [2]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 > 20:
        print('Inner condition 2')
        
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
End of outer condition
After outer condition

In [3]:
x = 120

if x > 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [4]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [5]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 5000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [6]:
name = 'Hactiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hactiv8':
    print('Hello Hactiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are")

Hello Hactiv8

In [ ]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print('this wont happen')
elif var:
    print('this wont either')

### One-Line if Statements

In [7]:
if 'f' in 'foo': print(1); print(2); print(3)

1
2
3

In [8]:
if 'z' in 'foo': print(1); print(2); print(3)

In [9]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [10]:
x = 3
if x == 1: print('foo'); print('bar'); print(baz)
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [11]:
x = 3
if x == 1: 
    print('foo') 
    print('bar') 
    print('baz')
elif x == 2: 
    print('qux') 
    print('quux')
else: 
    print('corge') 
    print('grault')

corge
grault

### Conditional Expressions

In [12]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [13]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [14]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

### The Python pass Statement

In [15]:
if True:
    print('foo')

foo

In [16]:
if True:
    pass
print('foo')

foo

### Python "while" Loops

In [17]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [18]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [19]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

### The else Clause

In [20]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [21]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

## Infinite Loops

### Nested while Loops

In [23]:
age = 18
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

In [24]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### One-Line while Loops

In [25]:
n = 5
while n > 0: n -=1; print(n)

4
3
2
1
0

## A Survey of Definite Iteration in Programming

### The Python for Loop

In [31]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [35]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [38]:
for k in d:
    print(d[k])

1
2
3

In [39]:
for k in d.values():
    print(k)

1
2
3

In [40]:
for k, v in d.items():
    print(k, ':', v)

foo : 1
bar : 2
baz : 3

### Iterating Through a Dictionary

In [41]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [42]:
for k in d:
    print(d[k])

1
2
3

In [43]:
for v in d.values():
    print(v)

1
2
3

### The range() Function

In [44]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [45]:
x = range(5)

In [46]:
for n in x:
    print n

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(n)? (<ipython-input-46-d84b576d5a8c>, line 2)

## Altering for Loop Behavior

### The break and continue Statements

In [47]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
        print(i)

In [48]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### The else Clause

In [49]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done. ')

foo
bar
baz
qux
Done.

In [50]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [1]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input uang benar")

print("Temperaturnya adalah ", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg 45F, 120C: 120C
Temperaturnya adalah  248 derajat

In [2]:
temp

'120C'

In [3]:
'12C'

'12C'

In [4]:
result

248

In [5]:
54

54

In [6]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop

In [ ]:
stop