## NumPy

### Array
#### Creating Array

In [ ]:
import numpy as np

In [5]:
a = np.array([1, 2, 3, 4])

In [6]:
a

array([1, 2, 3, 4])

In [7]:
# you can easily create an array filled with 0s;
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [8]:
# or an array filled witH 1s
np.ones(6)

array([1., 1., 1., 1., 1., 1.])

In [9]:
# or even an empty array
# the function empty creates an array whose initial content is random and depends on the state of the memory
np.empty(6)

array([1., 1., 1., 1., 1., 1.])

### Add, Remove, and Sort

In [10]:
# you can create an array with a range of elements

print(np.arange(4))
print(np.arange(0,10,2)) # (start, stop, step)

[0 1 2 3]
[0 2 4 6 8]

In [11]:
np.arange(2, 29, 5)

array([ 2,  7, 12, 17, 22, 27])

In [12]:
# Menambahkan elemen dengan menggunakan np.append()

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
np.append(arr, [1,2])

array([1, 2, 3, 4, 5, 6, 7, 8, 1, 2])

In [17]:
# Menghapus elemen dengan menggunakan np.delete()

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
np.delete(arr, 7)

array([1, 2, 3, 4, 5, 6, 7])

In [18]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

np.sort(arr)

array([1, 2, 3, 4, 5, 6, 7, 8])

### Shape and Size

In [22]:
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],
                          
                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],
                          
                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]]])

print(array_example)

[[[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]

 [[0 1 2 3]
  [4 5 6 7]]]

In [23]:
array_example.ndim

3

In [24]:
array_example.size

24

In [25]:
array_example.shape

(3, 2, 4)

In [26]:
arr_one = np.array([[1, 2, 3, 4, 5]])

In [27]:
arr_one.ndim

2

In [28]:
arr_one.size

5

In [29]:
arr_one.shape

(1, 5)

### Reshape

In [32]:
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [35]:
b = a.reshape(3,2)
print(b)

[[0 1]
 [2 3]
 [4 5]]

In [36]:
a.reshape(6,1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

### Convert 1D to 2D

In [37]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

(6,)

In [38]:
# You can use np.newaxis to add new axis:
a2 = a[np.newaxis]
print(a2.shape)
print(a2)

(1, 6)
[[1 2 3 4 5 6]]

In [40]:
# You can convert a 1D array to a row vector by inserting an axis along the first dimension

row_vector = a[np.newaxis, :]
print(row_vector.shape)
print(row_vector)

(1, 6)
[[1 2 3 4 5 6]]

In [42]:
# for a column vector, you can insert an axis along the second dimension
col_vector = a[:, np.newaxis]
print(col_vector.shape)
print(col_vector)

(6, 1)
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [43]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

(6,)

In [44]:
# You can use np.expand_dims to add an axis at index position 1 with:
b = np.expand_dims(a, axis=1)
b.shape

(6, 1)

In [45]:
# You can add an axis at index position 0 with:
c = np.expand_dims(a, axis=0)
c.shape

(1, 6)

### Indexing and Slicing

In [49]:
data = np.array([1,2,3])
print(data)
print(data[0])
print(data[1])
print(data[0:2])
print(data[1:])
print(data[-2:])

[1 2 3]
1
2
[1 2]
[2 3]
[2 3]

In [50]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [51]:
# You can easily print all of the values in the array that are less than 5
print(a[a>=5])

[ 5  6  7  8  9 10 11 12]

In [52]:
five_up = (a >= 5)

print(a[five_up])
print(a[a>=5])

[ 5  6  7  8  9 10 11 12]
[ 5  6  7  8  9 10 11 12]

In [53]:
# You can select elements that are divisible by 2
divisible_by_2 = a[a%2==0]
print(divisible_by_2)

[ 2  4  6  8 10 12]

In [54]:
# you can selet elements that satisfy two conditions using the & and | operators

c = a[(a > 2) & (a < 11)]
print(c)

[ 3  4  5  6  7  8  9 10]

### Creating Array from Existing Data

In [60]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

arr1 = arr[3:8]
arr1

array([4, 5, 6, 7, 8])

In [65]:
# Vstack
a_1 = np.array([[1, 1],
               [2, 2]])
a_2 = np.array([[3, 3],
               [4, 4]])

np.vstack((a_1, a_2))

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [66]:
# Hstack
np.hstack((a_1, a_2))

array([[1, 1, 3, 3],
       [2, 2, 4, 4]])

In [81]:
# Split
arrsplit = np.array([[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24,]])
print(arrsplit)

[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 17 18 19 20 21 22 23 24]]

In [85]:
arrsplit = np.array([[1, 2, 3, 4],
                     [5, 6, 7, 8],
                     [9, 10, 11, 12],
                     [13, 14, 15, 16],
                     [17, 18, 19, 20],
                     [21, 22, 23, 24]])

result = np.hsplit(arrsplit, 2)
print(result)

[array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14],
       [17, 18],
       [21, 22]]), array([[ 3,  4],
       [ 7,  8],
       [11, 12],
       [15, 16],
       [19, 20],
       [23, 24]])]

In [86]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [87]:
# You can create a new array object that looks at the same data
b = a.view()
b

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [88]:
# Using the copy method will make a complete copy of the array and its data (a deep copy)
c = a.copy()
c

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

### Basic array operarions

In [90]:
a = np.array([1, 2, 3, 4])

# Add all of the elements in the array
a.sum()

10

In [91]:
b = np.array([[1, 1], [2, 2]])
b

array([[1, 1],
       [2, 2]])

In [92]:
# You can call sum the rows
b.sum(axis=0)

array([3, 3])

In [93]:
# You can sum the columns
b.sum(axis=1)

array([2, 4])

In [94]:
data = np.array([1, 2])
data

array([1, 2])

In [95]:
ones = np.ones(2)
ones

array([1., 1.])

In [96]:
data + ones

array([2., 3.])

In [97]:
data * data

array([1, 4])

In [98]:
data / data

array([1., 1.])

### Broadcasting

In [99]:
data * 2

array([2, 4])

### More Array Operations

In [101]:
data.max()
data.min()
data.sum()

3

In [103]:
A = np.array([[0.4505, 0.1234, 0.3435, 0.5678],
              [0.5467, 0.0509, 0.4006, 0.5567],
              [0.1269, 0.8245, 0.2659, 0.5691]])
print(A)

[[0.4505 0.1234 0.3435 0.5678]
 [0.5467 0.0509 0.4006 0.5567]
 [0.1269 0.8245 0.2659 0.5691]]

In [104]:
A.sum()

4.826499999999999

In [105]:
A.min()

0.0509

In [106]:
A.min(axis=0)

array([0.1269, 0.0509, 0.2659, 0.5567])

In [107]:
A.max()

0.8245

In [108]:
A.max(axis=1)

array([0.5678, 0.5567, 0.8245])

In [109]:
A.std()

0.21978337993857092

### Matrices
#### Creating Matrices

In [113]:
np.array([[1, 2], [3, 4]])

array([[1, 2],
       [3, 4]])

In [115]:
np.ones((3,2))
np.zeros((3,2))
np.random.random((3,2))

print(np.ones((3,2)))
print(np.zeros((3,2)))
print(np.random.random((3,2)))

[[1. 1.]
 [1. 1.]
 [1. 1.]]
[[0. 0.]
 [0. 0.]
 [0. 0.]]
[[0.85034796 0.37693657]
 [0.51714395 0.5309704 ]
 [0.41177137 0.10237983]]

#### Matrix Arithmetic

In [116]:
data = np.array([[1, 2], [3, 4]])
print(data)

[[1 2]
 [3 4]]

In [117]:
ones = np.ones([2, 2])
print(ones)

[[1. 1.]
 [1. 1.]]

In [118]:
print(data + ones)

[[2. 3.]
 [4. 5.]]

In [119]:
ones_row = np.ones([1, 2])
print(ones_row)

[[1. 1.]]

In [120]:
print(data + ones_row)

[[2. 3.]
 [4. 5.]]

#### Dot Product

In [121]:
a_1 = np.array([[1, 2, 3], [4, 5, 6]])
print(a_1)
print(a_1.shape)

a_2 = np.array([[7, 8], [9, 10], [11, 12]])
print(a_2)
print(a_2.shape)

[[1 2 3]
 [4 5 6]]
(2, 3)
[[ 7  8]
 [ 9 10]
 [11 12]]
(3, 2)

In [122]:
np.dot(a_1, a_2)

array([[ 58,  64],
       [139, 154]])

### Matrix Indexing

In [123]:
data = np.array([[1, 2], [3, 4], [5, 6]])

print(data)
print(data[0])
print(data[1])
print(data[0,1])
print(data[1:3])
print(data[0:2,1])

[[1 2]
 [3 4]
 [5 6]]
[1 2]
[3 4]
2
[[3 4]
 [5 6]]
[2 4]

### Matrix Aggregation

In [124]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [125]:
print(data.max())
print(data.min())
print(data.sum())

6
1
21

In [127]:
print(data.max(axis=0))
print(data.max(axis=1))

[5 6]
[2 4 6]

### Transposing and Reshaping

In [128]:
print(data)

[[1 2]
 [3 4]
 [5 6]]

In [129]:
print(data.T)

[[1 3 5]
 [2 4 6]]

In [130]:
data_col = np.array([[1, 2, 3, 4, 5, 6]]).T
print(data_col)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

In [131]:
data_col.reshape(2, 3)

array([[1, 2, 3],
       [4, 5, 6]])

In [132]:
data_col.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [133]:
arr = np.arange(6).reshape((2, 3))
print(arr)

[[0 1 2]
 [3 4 5]]

### N-Dimensional Array

In [139]:
ndarr =  np.array([[[1, 2], [3, 4]],
                   [[5, 6], [7, 8]]])
print(ndarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [140]:
print(np.ones((4, 3, 2)))

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

In [141]:
print(np.zeros((4,3,2)))

[[[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]]]

In [142]:
print(np.random.random((4,3,2)))

[[[0.03499639 0.80274501]
  [0.34755863 0.81955842]
  [0.57707907 0.17116138]]

 [[0.80183814 0.32843455]
  [0.64461393 0.81068877]
  [0.4118738  0.10363558]]

 [[0.20682416 0.66816272]
  [0.2789078  0.34490391]
  [0.18729894 0.10931738]]

 [[0.97432683 0.54128551]
  [0.81428098 0.58819222]
  [0.3560084  0.5990789 ]]]

### Flatten N-Dimensional Array

In [144]:
arrflat = np.array([[1,2,3,4], [5,6,7,8,], [9,10,11,12]])
print(arrflat)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [146]:
# You can use to flatten your array into a 1D array
arrflat.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

### Working with Math Formulas

In [147]:
error = (1/n) * np.sum(np.square(observed - prediction))

NameError: name 'n' is not defined

In [148]:
a = np.random.rand(5)
print(a)

[0.49818668 0.99737619 0.81220147 0.15084926 0.40578242]

In [149]:
a.shape

(5,)

In [150]:
print(a.T)

[0.49818668 0.99737619 0.81220147 0.15084926 0.40578242]

In [151]:
print(np.dot(a, a.T))

2.0900353296989396